.body,
root {
  --padding: 10px 20px;
}
*,
.topheader {
  text-transform: capitalize;
}

.topheader {
  background: url(background.png);
  background-size: 300px;
  background-color: #e74694;
  color: white;
}

.btn:hover a,
.log:hover,
.see-here :hover,
.slider,
li:hover {
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}
:root {
  --color: #101315;
  --bg-white: #fff;
  --bg-black: #000;
}
.body {
  --color: #44a5ca;
  --bg-white: white;
  --bg-black: black;
  --background: #000;
}
body {
  background-color: var(--background);
  font-family: Arial, sans-serif;
  transition: background-color 0.3s;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px 0;
}
.hamburger {
  display: none;
}

.log,
.sign {
  padding: 10px 15px;
  color: #000;
  letter-spacing: 0;
}
.log1 img {
  background-color: #fff;
  border-radius: 10px;
  height: 35px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  font-size: 14px;
}
.sign {
  border: 1px solid;
  border-radius: 7px;
  
}
li:hover {
  color: #4fb3d4;
}
.log {
  border: 1px solid #4fb3d4;
  border-radius: 7px;
  background-color:  #4fb3d4;

}
.log:hover {
  background-color:  #4fb3d4;
  color: #fff;
}
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}
.left-section,
.secondstart {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.left-section h4 {
  font-size: 55px;
}
.left-section span {
  letter-spacing: 1px;
}
.left-section a {
  text-decoration: none;
  color: var(--bg-white);
  white-space: nowrap;
  border-radius: 8px;
  padding: var(--padding);
}
.right-section,
.right-sectionspart {
  flex-basis: 40%;
}
.right-section img {
  width: 37vw;
}
.image-title h2 {
  text-align: center;
  padding: 30px 0;
}
.wrapper-images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.wrapper-images img {
  height: 60px;
}
.btn {
  border: 1px solid;
  padding: 15px;
  border-radius: 7px;
  background-color: #4fb3d4;
  color: #fff;
  letter-spacing: 0;
  max-width: 130px;
}
.option-btn a,
.see-more a {
  border-radius: 8px;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
}
.research-heading {
  text-align: center;
  padding: 30px;
  font-size: 35px;
}
.option-btn a {
  padding: 13px 20px;
  color: #fff;
  letter-spacing: 2px;
  list-style: none;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid;
  width: 200px;
}
.card,
.cards {
  display: flex;
  align-items: center;
}
.cards,
.right-sectionss img,
.right-sectionss2 img {
  width: 100%;
}
.option-btn :hover,
.see-more :hover {
  cursor: pointer;
  color: #00f;
}
.bg-svg {
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: relative;
}
.cards {
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  top: 120px;
  padding: 40px;
}
.card {
  justify-content: center;
  flex-direction: column;
  flex-basis: 30%;
  padding: 10px 20px;
}
.feature-btns,
.img-card {
  display: flex;
  align-items: center;
}
.img-card {
  justify-content: center;
  flex-direction: column;
  height: 210px;
}
.img-card p {
  text-align: center;
  padding: 10px 0;
}
.feature-btns {
  justify-content: center;
  border: 1px solid #000;
  padding: 16px;
  text-decoration: none;
  width: 150px;
  margin: 0 auto;
  border-radius: 8px;
  color: #000;
  color: var(--bg-white);
}
.zero-section,
.zero-section2 {
  display: flex;
  align-items: center;
  margin: 0 60px 0 70px;
}
.feature-btns a {
  text-decoration: none;
  color: #000;
}
.feature-btns:hover a {
  color: #00f;
}
a:hover .ri-arrow-right-line {
  margin-left: 20px;
  transition: 1s ease-in-out;
}
.zero-section {
  justify-content: space-between;
  padding-top: 200px;
}
.left-sectionss,
.left-sectionss2 {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: start;
}
.left-sectionss h3,
.left-sectionss2 h2 {
  font-size: 30px;
}
.left-sectionss span,
.left-sectionss2 span {
  letter-spacing: 1px;
  line-height: 25px;
  font-size: 20px;
}
.right-sectionss,
.right-sectionss2 {
  flex-basis: 50%;
}
.zero-section2 {
  justify-content: space-between;
}
.onestart,
.wrapper-image {
  display: flex;
  align-items: center;
}
.onestart {
  justify-content: right;
  padding: 30px 0;
  margin: 0 60px 0 100px;
  gap: 10px;
}
.secondstart h1 {
  font-size: 70px;
}
.secondstart span {
  letter-spacing: 1px;
  font-size: 20px;
}
.see-here,
.see-more a {
  letter-spacing: 2px;
  list-style: none;
}
.right-sectionspart img {
  width: 550px;
}
.logo img,
.see-more a {
  width: 200px;
}
.wrapper-image {
  justify-content: center;
  flex-wrap: wrap;
}
.medium,
.see-more a {
  align-items: center;
  display: flex;
}
.see-more a {
  padding: 13px 20px;
  color: #000;
  color: var(--bg-white);
  justify-content: center;
  border: 1px solid;
}
.slider.round:before,
.slider:before {
  border-radius: 50%;
}
.medium {
  justify-content: center;
  flex-direction: column;
  background-color: #183b54;
  color: #fff;
  padding: 80px;
  line-height: 30px;
}
.He,
h6,
p {
  padding: 20px 0;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.He h6 {
  font-size: 50px;
}
.see-here {
  border-radius: 8px;
  padding: 10px 25px;
  color: #fff;
  background-color: #2294ed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-image,
.text-image1,
.text-image2 {
  background: #000;
  position: relative;
  width: 250px;
  height: 330px;
  transition: 0.2s ease-out;
}
.wrapper-image {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0 0 30px;
}
.text-image {
  background: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.8)),
    url("download.jpeg");
  background-size: cover;
}
.text-image1,
.text-image2 {
  background: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.8));
  background-size: cover;
}
.text-image3 {
  position: relative;
  width: 250px;
  height: 330px;
  background: #000;
  background: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(255, 255, 0, 0.288),
    rgba(255, 0, 0, 0.292)
  );
  transition: 0.2s ease-out;
  background-size: cover;
}
.text-image:hover {
  box-shadow: 0 0 40px #888;
}
.text {
  position: absolute;
  color: #fff;
  bottom: 10px;
  font-size: 1.5rem;
  left: 10px;
}
.footer,
.lastcenter li {
  color: #000;
  list-style: none;
}
.last h1 {
  padding: 23px;
}
.end {
  text-align: center;
}

.lastcenter {
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding: 50px 0;
  list-style: none;
}

.one nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.two nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.three nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
  background-color: #b9cee4;
  color: var(--bg-white);
}

@media screen and(max-width:1024px) {
  .hero-section {
    display: flex;
  }
}
